<div class="mt-3">
  <h1>Editing Workout</h1>

  <%= render "form", workout: @workout %>
  <br>
  <div>
    <%= link_to "Show Workout", @workout %> |
    <%= link_to "Back", workouts_path %>
  </div>
</div>
