<p style="color: green"><%= notice %></p>

<h1>Workouts</h1>
<div><%= link_to "New Workout", new_workout_path, class: "btn btn-primary" %></div>

<div id="workouts">
  <% @workouts.each do |workout| %>
    <div class="card">
      <%= render workout %>
      <p>
      <%= link_to "Show Workout", workout, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>


