<div id="<%= dom_id meal %>">
  <p>
    <strong>Date:</strong>
    <%= meal.date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= meal.calories %>
  </p>

</div>
